# <center> Requêtes SQL et mise à jour : Exercices </center>

##### Exercice 0:

Sur serveur local Xampp de votre machine via la console MariaDB, créer et peupler la base de données à l'aide des scripts au format sql fournis.
Si besoin, revoir le document étudié dans le chapitre "Bases de données relationnelles".

Les tables contiennent les informations suivantes :
<img src='facture_all.png' style='float:center;' width=600>

##### Exercice 1 : Sélection de données dans une table
Pour chaque question, écrire l'ordre SQL permettant d'obtenir les informations demandées.
1. Les noms et prénoms de tous les clients :


* 


2. Les noms des clients habitant Grenoble : 


* 

3. Les noms et prénoms des clients n'habitant pas à Grenoble :


* 


4. Les noms et les références (dans cet ordre) des produits vendus par l'entreprise. On renommera les colonnes obtenues respectivement "nom" et "reference" :


* 


5. Les dates où les factures ont été émises :


* 


6. Les références des produits contenus dans la facture 1 :


* 


7. Les noms des produits et leur prix, dont le prix unitaire est compris entre 1 et 2 euros :


* 


8. Le prix unitaire moyen de ces mêmes produits( on pourra utiliser `AVG`) :


* 


9. Le nombre total de clients( on pourra utiliser `COUNT`) :


* 


10. La quantité totale de biscottes qui a été vendue( on pourra utiliser `SUM`). On renommera la table obtenue "total_biscottes" :


* 


11. Les villes dans lesquels il y a des clients. Que remarque-t-on ?


*

##### Exercice 2 : Tris et gestions des doublons
Même consigne que précédemment

1. Les reférences des produits figurant dans les factures sans doublons.


* 


2. Les produits dont le prix unitaire est supérieur à deux euros en ordre décroissant


* 


3. Les produits dont le prix unitaire est supérieur à deux euros en ordre alphabétique.


* 


4. Les références des clients qui ont acheté des produits après le 1 juin 2019 (sans doublons).


* 


5. Les quantités et les références des produits de la facture 3 par ordre croissant.


*

##### Exercice 3 : Jointures
Même consigne.
1. Les détails des factures (numéro, noms des produits, quantité commandée)


* 


2. Les détails de la facture 1(noms des produits, prix unitaire des produits quantité commandée)


* 


3. Les noms et prénoms des clients (sans doublons) qui ont acheté des produits.


* 


4. Les noms et prénoms des clients (sans doublons) qui ont acheté des produits après le 1 juin 2019.


* 


5. Les noms des produits qui ont été commandés en quantité supérieure ou égale à 5.


* 


6. Le total de la facture 3 (on utilisera `SUM`).


* 


7. Les noms et prénoms des clients qui ont déjà commandé des biscottes.


*

##### Exercice 4 : Suppression de lignes.

1. Supprimer la poudre petit déjeuner de la liste des produits disponibles et vérifier le résultat


* 
* 


2. Ecrire les ordres qui permettent de supprimer Jules Banaziai de la base de données.


* 
* 
*

##### Exercice 5 : Mise à jour d'attributs.
Dans chaque question, mettre à jour les données concernées et vérifier le résultat.
1. Julie Bobaino déménage à Paris.


* 
* 


2. La quantité de biscottes est erronée dans toutes les factures, il faut la doubler.


* 
* 


3. Les prix unitaires des biscottes  et du café ont augmenté de 15%.


* 
* 


4. Votre fournisseur vous indique que la référence du Thé a changé, c'est désormais $777$.

*

##### Exercice 6 : Requêtes imbriquées
Pour chaque question, écrire l'ordre SQL permettant d'obtenir les informations demandées.
1. Les noms et prénoms des personnes habitant la même ville que Jules Banaziai.


* 


2. Les noms et prix unitaires des produits dont le prix unitaire est supérieur au prix unitaire moyen de tous les produits.


*

##### Exercice 7 : Un peu de tout...
*Rappel : Pour insérer des nouvelles valeurs dans une table, on utilise la syntax `INSERT INTO...VALUES...;`.Le nom de la table est indiqué après `INSERT` et les valeurs après `VALUES` sous forme de tuples séparés par des virgules.On pourra consulter le document précédemment étudié sur la création de tables et l'insertion de données.*


Voici à quoi pourrait ressembler une facture éditée:

```
               FACTURE 4
Numéro client : 5    date : 3/12/2019
Lea RICCOH
Orleans

Ref Nom          Qte  PU   Total
3   Biscottes     2  1.15   2.30
6   The           5  3.10  15.50
7   Jus d'Orange  2  2.40   4.80
                           -----

                           22.60
```

1. Insérer les informations nécéssaires à l'édition de cette facture.
2. Ecrire une requête permettant d'obtenir *exactement* l'affichage ci-dessous :
<img src='ex7-3.png' style='float:center;' width=300>
3. Ecrire une requête qui permet de calculer le montant de cette facture.

__Réponses__:

1. insertions :
   *  
   *  
   *  
   *  
     
     
2.  


3.